/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 1s cubic-bezier(0.2, 0.2, 0.5, 1);
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(1em);
  opacity: 0;
}

.hard-slide-fade-enter-active {
  transition: all 1.2s cubic-bezier(0.2, 0.2, 0.5, 1);
}
.hard-slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.hard-slide-fade-enter,
.hard-slide-fade-leave-to {
  transform: translateX(300px);
  opacity: 0;
}

@keyframes skew {
  0% {
    transform: skewX(3deg);
  }
  100% {
    transform: skewX(-3deg);
  }
}
