/*!
 * helpers.css v1.0.0
 */

/* flex */
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.space-around {
  justify-content: space-around;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* grid */
.grid {
  display: grid;
}

/* inline */
.inline {
  display: inline;
}

/* cleaners */
button,
select {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* screener */
.screener {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
}