.home-container {
  background-image: url(../img/appsus-background.jpg);
  background-size: cover;
  background-position-x: center;
  /* Scrollbars during animation temporary workaround */
  overflow: hidden;
  text-shadow: 0px 1px 3px black;
}

.logo {
  font-family: 'Spartan';
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  font-size: calc(2rem + 10vw);
  text-shadow: 10px 30px 30px rgba(0, 0, 0, 0.8);
  animation: skew 3s infinite;
  animation-direction: alternate;
}
.home-container .email-icon {
  /* height: 120px; */
  height: calc(6rem + (4vw / 3));
}
.home-container .keep-icon {
  /* height: 90px; */
  height: calc(4.5rem + 1vw);
  margin: 15px 0;
}

.home-container a {
  transition: transform 0.2s;
}

.home-container a:hover {
  transform: scale(1.05);
}
