@import './fonts.css';
@import './helpers.css';
@import './animations.css';

/* Apps */

@import './apps/email/email-main.css';
@import './apps/keep/keep-main.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}