.email-compose{
    position: absolute;
    bottom: 0;
    right: 50px;
}
.email-compose button:first-of-type{
    text-align: end;
    font-size: 20px;
    background-color: transparent;
}
.email-compose textarea{
    resize: none;
}

.email-compose input{
    padding: 10px;
}

.email-compose button:nth-last-of-type(1){
    background-color: transparent;
    padding: 5px;
    border: 1px solid black;
    background-color: #1a73e8;
    color: white;
}