.emails-list{
    overflow: hidden;
}

.emails-list .email-from {
    flex-basis: 15%;
    padding-right: 20px;
}

.emails-list .email-subject {
    flex-basis: 75%;
}

.emails-list .email-sent-at {
    flex-basis: 10%;
    text-align: end;
    padding: 0 15px;

}

.emails-list select {
    max-width: 100px;
    margin-right: 10px;
}

.emails-list .filter-container{
    padding: 20px 50px 20px 0;
    margin-left: 10px;
}

.emails-list .filter-container .email-search {
    flex-grow: 1;
    outline: unset;
    border: unset;
    background-color: #f1f3f4;
    border-radius: 5px;
    max-width: 600px;
    height: 50px;
    padding: 20px;
}