.emails-list{
    overflow: hidden;
}

.emails-list .email-subject {
    padding-inline-end: 20px;
}

.emails-list .email-sent-at {
    margin: 0 5px;
    min-width: 70px;
    text-align: end;
}

.emails-list select {
    max-width: 100px;
    margin-right: 10px;
}

.emails-list .filter-container{
    padding: 20px 50px 20px 0;
    margin-left: 10px;
}

.emails-list .filter-container .email-search {
    flex-grow: 1;
    outline: unset;
    border: unset;
    background-color: #f1f3f4;
    border-radius: 5px;
    max-width: 600px;
    height: 50px;
    padding: 20px;
}