.email-side-nav {
    padding-top: 20px;
    padding-inline-end: 16px;
    z-index: 1;
    flex-grow: 1;
}

.compose-email-btn {
    background-color: transparent;
    padding: 0.5em 2em 0.5em 1.5em;
    border-radius: 5em;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    margin-inline-start: 8px;
}

.compose-email-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.email-side-nav>*:not(:first-child) {
    display: flex;
    align-items: center;
    padding-inline-end: 12px;
    padding-inline-start: 26px;
    height: 32px;
    width: 240px;
    border-radius: 0 16px 16px 0;
    font-size: 0.85rem;
    letter-spacing: 0.2px;
    line-height: 20px;
}

.email-side-nav>*:not(.selectedInbox):not(:first-child):hover {
    background-color: rgb(241, 243, 244);
}

.email-side-nav i {
    color: #6b6c6e;
}

.email-side-nav>*.selectedInbox {
    background-color: #fce8e6;
    color: #d93025;
    font-weight: bold;
}

.email-side-nav>*.selectedFolder {
    background-color: #e8eaed;
    font-weight: bold;
}

@media (max-width: 699px) {
    .email-side-nav {
        height: 100vh;
        transform: translateX(-300px);
        background-color: rgba(255, 255, 255, 0.95);
        flex-grow: 1;
        position: absolute;
        transition: transform .3s;
        box-shadow: 0 6px 7px rgba(0, 0, 0, .2);
    }
    .toggle-nav .email-side-nav {
        transform: translateX(0);
    }
}