.main-header {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    width: 100%;
}

.main-header .keep {
    height: calc(2rem + 2vw);
    margin: 15px 15px;
}

.main-header .email {
    height: calc(2.6rem + 2.6vw);
    margin: 0px 15px;
}

.main-header .email-display{
    height: calc(1.3rem + 1.3vw);
}
.main-header .keep-display{
    height: calc(1rem + 1vw);
}
.main-header .hamburger{
    visibility: hidden;
    align-items: center;
    margin: 0px 10px 0 20px;
    font-size: 25px;
    color: #666;
    cursor: pointer;
}

@media (max-width: 700px) {
    .main-header .hamburger{
        visibility: visible;
    }
}

