.main-header {
    box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
    border-bottom: 1px solid #eee;
}

.secondary-logo {
    font-family: 'Spartan';
    font-weight: 300;
    font-size: calc(1rem + 1vw);
    transition: text-shadow .3s, transform .2s;
}

.secondary-logo:hover {
    text-shadow: 2px 2px 3px rgba(0,0,0,.3);
    transform: skewX(4deg);
}

.main-header .keep {
    height: calc(2rem + 2vw);
    margin: 15px;
}

.main-header .email {
    height: calc(2.6rem + 1.5vw);
    margin: 15px;
}

.main-header .email-display{
    height: calc(2rem + 1vw);
}
.main-header .keep-display{
    height: calc(1.6rem + 1vw);
    margin: 0px 15px;
}
.main-header .hamburger{
    display: none;
    align-items: center;
    margin: 0px 10px 0 20px;
    font-size: 25px;
    color: #666;
    cursor: pointer;
}

@media (max-width: 700px) {
    .main-header .hamburger{
        display: initial;
    }
}

