/* .notes-list-container {
} */

.note {
  max-width: 312px;
  margin: 4px;
  border-radius: 8px;
  border: 1px solid;
  /* padding: 12px 16px; */
}

.note:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6), 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.note p, .note label {
  font-size: 0.875rem;
}

.note li {
  padding: 0 16px;
}

.note button {
  background-color: transparent;
}

[contentEditable='true'] {
  cursor: text;
  outline: none;
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-ph);
  color: #aaa;
  font-weight: 300;
}
.note li:hover, .note h4:hover {
  box-shadow: 0 0.5px 0 #aaa, 0 -0.5px 0 #aaa;
}